In [4]:
import numpy as np
import pandas as pd

In [5]:
#import dataset from local device
df = pd.read_csv('Train_Dataset_190019B.csv',index_col= "customer_id")
df.head()

,account_length,location_code,intertiol_plan,voice_mail_plan,number_vm_messages,total_day_min,total_day_calls,total_day_charge,total_eve_min,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls,Churn
customer_id,,,,,,,,,,,,,,,,,,,
1001,15.0,452,no,no,0.0,121.1,130.0,20.59,216.0,86.0,18.36,235.1,33.0,10.58,16.1,5.0,4.35,2.0,No
1002,105.0,452,no,no,0.0,259.3,96.0,44.08,175.2,97.0,14.89,222.4,36.0,10.01,12.0,5.0,3.24,3.0,No
1003,97.0,452,no,yes,32.0,183.4,94.0,31.18,269.1,120.0,22.87,203.5,38.0,9.16,6.7,4.0,1.81,5.0,No
1004,121.0,445,no,yes,35.0,68.7,95.0,11.68,209.2,69.0,17.78,197.4,42.0,8.88,11.4,4.0,3.08,1.0,No
1005,98.0,452,no,yes,22.0,278.3,89.0,47.31,93.4,143.0,7.94,107.6,42.0,4.84,9.7,5.0,2.62,0.0,No

In [6]:
df["intertiol_plan"]= df['intertiol_plan'].map({'yes': 1, 'no': 0})

In [7]:
df["voice_mail_plan"]= df['voice_mail_plan'].map({'yes': 1, 'no': 0})

In [8]:
df["Churn"]= df['Churn'].map({'Yes': 1, 'No': 0})

In [9]:
df

,account_length,location_code,intertiol_plan,voice_mail_plan,number_vm_messages,total_day_min,total_day_calls,total_day_charge,total_eve_min,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls,Churn
customer_id,,,,,,,,,,,,,,,,,,,
1001,15.0,452,0,0,0.0,121.1,130.0,20.59,216.0,86.0,18.36,235.1,33.0,10.58,16.1,5.0,4.35,2.0,0
1002,105.0,452,0,0,0.0,259.3,96.0,44.08,175.2,97.0,14.89,222.4,36.0,10.01,12.0,5.0,3.24,3.0,0
1003,97.0,452,0,1,32.0,183.4,94.0,31.18,269.1,120.0,22.87,203.5,38.0,9.16,6.7,4.0,1.81,5.0,0
1004,121.0,445,0,1,35.0,68.7,95.0,11.68,209.2,69.0,17.78,197.4,42.0,8.88,11.4,4.0,3.08,1.0,0
1005,98.0,452,0,1,22.0,278.3,89.0,47.31,93.4,143.0,7.94,107.6,42.0,4.84,9.7,5.0,2.62,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3317,109.0,452,0,0,0.0,180.0,100.0,30.60,229.0,103.0,19.47,139.4,105.0,6.27,7.8,8.0,2.11,3.0,0
3318,185.0,452,1,1,30.0,154.1,114.0,26.20,118.7,106.0,10.09,258.4,105.0,11.63,12.9,3.0,3.48,2.0,0
3319,55.0,452,1,0,0.0,188.9,88.0,34.62,270.1,105.0,22.77,209.7,105.0,9.17,14.3,5.0,3.86,1.0,1
3320,138.0,547,1,0,0.0,191.2,130.0,32.35,164.5,88.0,14.00,241.4,105.0,10.46,15.2,1.0,4.10,0.0,1
3321,24.0,547,0,0,0.0,251.0,95.0,40.31,179.9,77.0,16.63,189.3,105.0,8.29,15.3,7.0,4.13,0.0,1

In [10]:
X = df.drop(columns=['Churn'])
y =df.Churn

In [11]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(X, y)

In [12]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(reg, X, y, cv=5)

In [13]:
scores.mean()

-0.2626401705386669

In [14]:
# from sklearn.linear_model import LogisticRegression
# from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
# from sklearn.ensemble import GradientBoostingClassifier
# from sklearn.pipeline import Pipeline
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.naive_bayes import MultinomialNB
# from sklearn.neighbors import KNeighborsClassifier

# # Initialze the estimators
# clf1 = RandomForestClassifier(random_state=42)
# clf2 = SVC(probability=True, random_state=42)
# clf3 = LogisticRegression(random_state=42)
# clf4 = DecisionTreeClassifier(random_state=42)
# clf5 = KNeighborsClassifier()
# clf6 = MultinomialNB()
# clf7 = GradientBoostingClassifier(random_state=42)

# # Initiaze the hyperparameters for each dictionary
# param1 = {}
# param1['classifier__n_estimators'] = [10, 50, 100, 250]
# param1['classifier__max_depth'] = [5, 10, 20]
# param1['classifier__class_weight'] = [None, {0:1,1:5}, {0:1,1:10}, {0:1,1:25}]
# param1['classifier'] = [clf1]

# param2 = {}
# param2['classifier__C'] = [10**-2, 10**-1, 10**0, 10**1, 10**2]
# param2['classifier__class_weight'] = [None, {0:1,1:5}, {0:1,1:10}, {0:1,1:25}]
# param2['classifier'] = [clf2]

# param3 = {}
# param3['classifier__C'] = [10**-2, 10**-1, 10**0, 10**1, 10**2]
# param3['classifier__penalty'] = ['l1', 'l2']
# param3['classifier__class_weight'] = [None, {0:1,1:5}, {0:1,1:10}, {0:1,1:25}]
# param3['classifier'] = [clf3]

# param4 = {}
# param4['classifier__max_depth'] = [5,10,25,None]
# param4['classifier__min_samples_split'] = [2,5,10]
# param4['classifier__class_weight'] = [None, {0:1,1:5}, {0:1,1:10}, {0:1,1:25}]
# param4['classifier'] = [clf4]

# param5 = {}
# param5['classifier__n_neighbors'] = [2,5,10,25,50]
# param5['classifier'] = [clf5]

# param6 = {}
# param6['classifier__alpha'] = [10**0, 10**1, 10**2]
# param6['classifier'] = [clf6]

# param7 = {}
# param7['classifier__n_estimators'] = [10, 50, 100, 250]
# param7['classifier__max_depth'] = [5, 10, 20]
# param7['classifier'] = [clf7]

In [15]:
# pipeline = Pipeline([('classifier', clf1)])
# params = [param1, param2, param3, param4, param5, param6, param7]

In [16]:
# from sklearn.model_selection import GridSearchCV

# gs = GridSearchCV(pipeline, params, cv=5, n_jobs=-1, scoring="accuracy").fit(X, y)

In [17]:
# print(gs.best_params_)
# print(gs.best_score_)

In [18]:
RF = RandomForestClassifier(max_depth=20, n_estimators=250, random_state=42)

In [19]:
df_test = pd.read_csv('Test_Dataset_190019B.csv')

In [20]:
df_test["intertiol_plan"]= df_test['intertiol_plan'].map({'yes': 1, 'no': 0})
df_test["voice_mail_plan"]= df_test['voice_mail_plan'].map({'yes': 1, 'no': 0})

In [21]:
RF.fit(X,y)

RandomForestClassifier(max_depth=20, n_estimators=250, random_state=42)

In [22]:
df_test

,customer_id,account_length,location_code,intertiol_plan,voice_mail_plan,number_vm_messages,total_day_min,total_day_calls,total_day_charge,total_eve_min,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls
0,3322,91,445.0,1,0,0.0,258.4,112.0,42.89,190.0,93,14.47,158.6,105.0,7.09,12.1,3.0,3.27,2.0
1,3323,113,445.0,0,1,20.0,155.8,81.0,28.83,168.5,62,13.73,275.5,105.0,12.22,8.7,3.0,2.35,5.0
2,3324,122,445.0,0,0,0.0,237.2,137.0,40.30,263.8,134,22.76,251.3,105.0,10.81,8.8,4.0,2.38,1.0
3,3325,103,445.0,0,0,0.0,133.6,117.0,23.60,156.1,130,13.37,207.2,105.0,9.95,10.4,7.0,2.81,8.0
4,3326,111,452.0,0,0,0.0,115.6,120.0,24.54,211.1,66,18.79,140.9,105.0,5.76,12.7,1.0,3.43,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,4817,23,547.0,0,0,0.0,321.6,107.0,54.67,251.6,115,21.39,141.1,158.0,6.35,11.3,3.0,3.05,2.0
1496,4818,23,547.0,0,0,0.0,334.6,107.0,52.67,261.6,121,21.39,127.1,158.0,6.35,11.3,2.0,3.05,2.0
1497,4819,103,452.0,0,0,0.0,70.9,134.0,12.05,134.5,112,11.43,168.8,164.0,7.60,12.0,6.0,3.24,2.0
1498,4820,34,452.0,0,0,0.0,193.7,74.0,32.93,126.9,84,10.79,221.2,166.0,9.95,8.8,4.0,2.38,0.0
1499,4821,129,452.0,0,1,33.0,119.6,104.0,20.33,278.7,88,23.69,263.4,175.0,11.85,5.9,2.0,1.59,2.0

In [23]:
df_test['Churn'] = RF.predict(df_test.drop(columns=['customer_id']))

In [24]:
df_final = pd.DataFrame({'customer_id': df_test.customer_id})
df_final["Churn"]= df_test['Churn'].map({1:'Yes', 0:'No'})

In [25]:
df_final

      customer_id Churn
0            3322    No
1            3323   Yes
2            3324   Yes
3            3325   Yes
4            3326   Yes
...           ...   ...
1495         4817   Yes
1496         4818   Yes
1497         4819    No
1498         4820    No
1499         4821    No

[1500 rows x 2 columns]

In [26]:
df_final.to_csv('190019B.csv', index = False)

In [30]:
import joblib

# save the model to disk
filename = 'finalized_model_chrun.sav'
joblib.dump(RF, filename)

['finalized_model_chrun.sav']